@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NutriLife</h1>
    <p>A place to learn about diets and food that goes along each kind, all in one place</p>
</div>
